<% if todo_item.done %>
<li class="done">
<%else%>
<li class="outstanding">
<%end%>
	<input type="checkbox" id="item<%= todo_item.id %>_done" <%= "checked" if todo_item.done? %>/>
	<%= todo_item.title %> 
	<%= link_to "[Delete]", todo_item, :method => :delete, 
			:confirm => "Are you sure you want to delete this item?" %>	
	<% if todo_item.done? %>
		<%= link_to "[Undo]", undo_todo_item_path(todo_item), :method => :put %>
	<% else %>
		<%= link_to "[Done]", done_todo_item_path(todo_item), :method => :put %>
	<% end %>
	<%= todo_item.tags.map { |tag| link_to(tag.name, root_path(:tags => tag.name)) }.join( ', ' ) %>
</li>
