-if @tag
  %h2= ": #{@tag.name}"

#list
  %ul#cloud
    -@tags.each do |tag|
      %li= link_to tag.name, root_path(:tags => tag.name)
    
#add
  %h4 New Item
  %p
    -form_for :todo_item, @todoItem, :url => { :action => "create" } do |f| 
      = f.text_field :title, { :class => 'title' }
      = hidden_field_tag :tag, @tag.id if @tag 
      = submit_tag 'Add', { :class => 'submit' }

#list
  %ul.items
    = render @todoItems
